* {
    margin: 0;
    padding: 0;
}

html,
body {
    background-color: red;
    height: 100%;
    width: 100%;
}

.container {
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    width: 100%;
    flex-wrap: wrap;
}

.container>div {
    display: flex;
    background-color: aqua;
    margin: 10px;
    min-width: 300px;
    max-width: 500px;
    height: 600px;
}


.lignes {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.lignes>div {
    display: flex;
    background-color: fuchsia;
    max-height: 250px;
    min-height: 200px;
    margin: 10px;
    width: 120px;
}